//Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

// Typography
$font-family-titles: 'Raleway', sans-serif;
$font-family-content: 'Montserrat', sans-serif;

// css Bulma.io
@import '~bulma/bulma.sass';


/* General */
html, body {
  font-family: $font-family-content;
}
.text-white {
  color: white;
}
.align-right {
  margin-right: 2rem;
}
.columns {
  width: 100%;
  height: 100%;
}
/* End General */

/* Login Form */

.hero {
  is-sucess {
    background: #f2f6fa;
    .nav {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  .box {
    margin-top: 5rem;
  }
  .avatar {
    margin-top: -70px;
    padding-bottom: 20px;

    img {
      padding: 5px;
      background: white;
      border-radius: 50%;
      -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
      box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    }
  }
  input {
    font-weight: 300;
  }
  p {
    font-weight: 700;
  }
  p.subtitle {
    padding-top: 1rem;
  }
}
/* End Login form */

/* Main Sectioon */
.hero.welcome.is-info {
  background: #36D1DC;
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
  background: linear-gradient(to right, #5B86E5, #36D1DC);
  @media (max-width: 1087px) {
    margin-left: 5%
  }
}
.long-panel, .long-form, #crud {
  width: 100%;
}
.is-hidden {
  display: none;
}
.align-left {
  margin-left: 2%;
}
main.container {
  margin-top: 1%;
}

/* Tiles section */
.info-tiles {
  margin: 1rem 0;
}
.info-tiles .subtitle {
  font-weight: 300;
  color: #8F99A3;
}
/* End Tiles section */

/* End Main Section */ 